.input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box .label {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color);
}

.input-box .input-area {
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;

    background: none;
    border: none;
    outline: none;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 8px 16px;

    background-color: rgba(255, 255, 255, 1);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color: var(--default-color);
}

input::placeholder {
    color: var(--gray-color);
}

.input-box .input-button {
    border-radius: 6px;
    padding: 8px 0;
    width: 110px;

    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color: var(--gray-color);
    text-align: center;
}

.input-button.disable {
    background-color: rgba(238, 238, 238, 1);
    color: var(--gray-color);
}

.input-button.active {
    background-color: var(--primary-10-color);
    color: var(--primary-color);
}

.input-button.active:hover {
    background-color: var(--primary-20-color);
    cursor: pointer;
}

.input-box .message {
    margin-top: -4px;
    height: 16px;

    font-size: 13px;
    font-weight: 400;
}