#cs-wrapper .td-customer-number,
#cs-wrapper .td-customer-name,
#cs-wrapper .td-customer-age,
#cs-wrapper .td-customer-location,
#cs-wrapper .td-customer-charger {
    width: 100px;

    text-align: center;
}

#cs-wrapper .td-buttons {
    margin-left: 20px;
}