#hr-wrapper .th,
#hr-wrapper .tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hr-wrapper .td-nurse-infos {
    display: flex;
    gap: 80px;
}

#hr-wrapper .td-nurse-id {
    width: 120px;
    text-align: center;
}

#hr-wrapper .td-nurse-name {
    width: 100px;
    text-align: center;
}

#hr-wrapper .td-nurse-tel {
    width: 200px;
    text-align: center;
}